
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                   @*  <li class="breadcrumb-item"><a href="javascript: void(0);">Attex</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Form Elements</li> *@
                </ol>
            </div>
            <h4 class="page-title">Add Candidate</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="simpleinput" class="form-label">Name</label>
                            <input type="text" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="simpleinput" class="form-label">Phone</label>
                            <input type="text" id="phone" class="form-control" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="simpleinput" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="simpleinput" class="form-label">Age</label>
                            <input type="text" id="age" class="form-control" maxlength="2" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                        </div>
                    </div>
                    
                </div>
                <div class="row">


                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="simpleinput" class="form-label">Gender</label>
                            <select class="form-select " id="gender">
                                <option selected="" disabled>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="simpleinput" class="form-label">Address</label>
                            <input type="text" id="address" class="form-control">
                        </div>
                    </div>

                  
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                   @*  <div class="col-lg-3">
                        <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                    </div> *@
                </div>
            </div>
        </div> 
    </div>
</div>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css" rel="stylesheet">
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.js"></script>

    <script>
        
            let searchResult = new URLSearchParams(window.location.search)
            let id = searchResult.get("id")
        $(document).ready(function () {
            if (id) {
                $('#btnSave').text("UPDATE")
                GetCandidateById()
            }
        });

     
        function SaveCandidate() {
            let emp = {
                name: $('#name').val(),
                email:$("#email").val(),
                phone: $('#phone').val(),
                age: $('#age').val(),
                gender: $('#gender').val(),
                address: $('#address').val()
            };

            var isValid = true;

            // Validation logic
            if ($('#name').val()) {
                $("#name").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#name").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#email').val()) {
                $("#email").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#email").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#phone').val()) {
                $("#phone").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#phone").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#age').val()) {
                $("#age").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#age").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#gender').val()) {
                $("#gender").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#gender").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#address').val()) {
                $("#address").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#address").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }

            if (isValid) {
                $.ajax({
                    url: 'https://localhost:7187/api/Candidate/SaveCandidate',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(emp),
                    success: function (resp) {
                        // console.log(resp);
                        Swal.fire({
                            title: 'Saved!',
                            text: 'Candidate has been saved successfully!',
                            icon: 'success',
                        }).then(function () {
                            window.location.href = window.location.origin + "/home/CandidateTable";
                        });
                    },
                    error:function(err){
                        alert("Error")
                    }
                   
                });
            }
          
        }

        function GetCandidateById() {
            $.ajax({
                url: 'https://localhost:7187/api/Candidate/GetCandidateById/' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (resp) {
                    $("#name").val(resp.respObj.name);
                    $("#phone").val(resp.respObj.phone);
                    $("#email").val(resp.respObj, email);
                    $("#age").val(resp.respObj.age);
                    $("#gender").val(resp.respObj.gender).trigger('change');
                    $("#address").val(resp.respObj.address);

                },
                error: function (err) {
                    console.log('Error')
                }

            });
        }

        function UpdateCandidate() {
           
            let isValid = true;

            // Validation logic
            if ($('#name').val()) {
                $("#name").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#name").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }

            if ($('#email').val()) {
                $("#email").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#email").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#phone').val()) {
                $("#phone").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#phone").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#age').val()) {
                $("#age").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#age").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#gender').val()) {
                $("#gender").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#gender").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }
            if ($('#address').val()) {
                $("#address").removeClass('is-invalid').addClass('is-valid');
            } else {
                $("#address").removeClass('is-valid').addClass('is-invalid');
                isValid = false;
            }

             let emp = {
                id: id,
                name: $('#name').val(),
                phone: $('#phone').val(),
                email:$("#email").val(),
                age: $('#age').val(),
                gender: $('#gender').val(),
                address: $('#address').val()
            };

            if (isValid) {
                $.ajax({
                    url: 'https://localhost:7187/api/Candidate/UpdateCandidate',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(emp),
                    success: function (resp) {
                        Swal.fire({
                            title: 'Update!',
                            text: 'Candidate has been updated successfully!',
                            icon: 'success',
                        }).then(function () {
                            window.location.href = window.location.origin + "/home/CandidateTable";
                        });
                    },
                    error: function (err) {
                        console.error(err); 
                        alert("Error occurred while updating the candidate.");
                    }
                });
            }
        }


        $('#btnSave').click(function () {
            if (id) {
                UpdateCandidate();
            } else {
                SaveCandidate() ;
            }
        });
    </script>
}